
<div id="filling">
    <div id="intro">
        <h1>Welcome to CSE Motors!</h1>
        <%- messages() %>
    </div>

    <img id="delorean" src="../images/vehicles/delorean.jpg" alt="Delorean">

    <div id="description">
        <h1> DMC Delorean</h1>
        <h2>3 Cup holders</h2>
        <h2>Superman Doors</h2>
        <h2>Fuzzy Dice</h2>
        <a ><img id="button" src='../images/site/own_today.png'></a>
    </div>

    <div id="reviews">
        <h1>DMC Delorean Reviews</h1>
        <li>"So fast it's almost like traveling in time."(4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!"(5/5)</li>
        <li>"The most futuristic ride of our day."(4.5/5)</li>
        <li>"80's livin and I love it!."(5/5)</li>
    </div>
    
    <div id="upgrades">
        <div class="upgrade">
        <img  class='upgrade_img' src="../images/upgrades/flux-cap.png" >
        <a href="">Flux Capacator</a>
        </div>
        <div class="upgrade">
        <img class='upgrade_img' src="../images/upgrades/flame.jpg" >
        <a href="">Flame Decal</a>
        </div>
        <div class="upgrade">
        <img class='upgrade_img' src="../images/upgrades/bumper_sticker.jpg" >
        <a href="">Bumper Stickers</a>
        </div>
        <div class="upgrade">
        <img class='upgrade_img' src="../images/upgrades/hub-cap.jpg" >
        <a href="">Hub Caps</a>
        </div>
    </div>

</div>