<div id="add-classification">
    <h1>Add Classification</h1>
     
    <form name="classificationForm" action="/add-classification" method="POST" onsubmit="return validateForm()">
      <label class='label' for="classificationName">Classification Name:</label>
      <input type="text" id="classificationName" name="classificationName" required>
      <button id="add-class" type="submit">Add Classification</button>
    </form>
</div>