

<div id="add_inventory">
    <form name="vehicleForm" action="/add-vehicle" method="POST" onsubmit="return validateForm()">
        <label for="make">Make:</label>
        <input type="text" id="make" name="make"  required>
    
        <label for="model">Model:</label>
        <input type="text" id="model" name="model"  required>
    
        <label for="year">Year:</label>
        <input type="text" id="year" name="year" required>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color"  required>
    
        <label for="classification_id">Classification:</label>
        
    
    <button id="add_inv" type="submit">Add Vehicle</button>
     </form>

</div>