

<div id='inventory_management'>
    <%  (title)  %>

    <h1>Inventory Management</h1>


    <div class="flash-message">
        <?= $_SESSION['flash_message']; ?>
    </div>

    
     <ul id="manage_link">
            <a class="adding_link" href="/inv/add-classification">Add New Classification</a> 
            <hr>   
            <a  class="adding_link" href="/inv/add_inventory">Add New Inventory</a>  
    </ul>
   
</div>