

<div id='inventory_management'>
    <%  (title)  %>

    <h1>Inventory Management</h1>


    <div class="flash-message">
        <?= $_SESSION['flash_message']; ?>
    </div>

    
     <ul id="manage_link">
            <a class="adding_link" href="/inv/add-classification">Add New Classification</a> 
            <hr>   
            <a  class="adding_link" href="/inv/add_inventory">Add New Inventory</a>  
    </ul>

    <h1>Manage Inventory</h1>
    <p>Select a classification from the list to see the items belonging to the classification.</p>


    <select id="classificationList">
        <% classification.forEach(function(classification) { %>
        <option value="<%= classification.id %>"><%= classification.name %></option>
        <% }); %>
     </select>

     

    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enabled to use this page.</noscript>





    
</div>
<script src="../../js/inventory.js"></script>